.social-icon {
  width: 1.5rem;
  height: auto;
  cursor: pointer;
}

.fb-icon {
  width: 1rem;
  height: auto;
  cursor: pointer;
}

.store-icon {
  width: 6rem;
  height: auto;
  cursor: pointer;
}

.fb-icon:hover,
.social-icon:hover {
  transform: scale(1.2);
}

.footer-content {
  max-width: 1000px;
}

footer {
  background-color: #333;
  color: white;
  padding: 1rem 0;
}

.copyright {
  font-size: 0.9rem;
  color: #aaa;
}
