@import url("./mini-tailwind.css");

/* Esto ayuda a que los elementos no se desborden de la pantalla y a corregir los espacios blancos que salen */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

section {
  max-width: 1000px;
  margin: 0 auto;
}

.title {
  background-color: #333;
  color: white;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.title-container {
  width: 1000px;
  text-align: start;
}

.title-content {
  font-size: 1.5rem;
  max-width: 1000px;
}
